// Colors
$font-family: 'Figtree';
$color-black: #111111;
$color-yellow: #F4D04E;
$color-white: #FFFFFF;
$color-grey: #7F7F7F;
// Responsiveness
$max-width-container: 1140px;
$max-width-mobile: 460px;
$max-width-mobile-small: 360px;